*
*/*
!.gitignore

!Scripts/Cell.cs
!Scripts/LifeSim.cs
!Scripts/DeterministicLifeSim.cs
!VFX/StarsVFX.vfx
!VFX/Star_SubgraphOperator.vfxoperator
!VFX/GammaCorrection.vfxoperator
!VFX/CellAutomata.vfx
